.contacts {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  text-align: center;

  a {
    text-decoration: none;
    color: $pink;
  }

  address {
    color: $pink;
  }

  &__info {
    &--phone {
      @media (min-width: $tablet-width) {
        justify-self: flex-end;
      }

      @media (min-width: $desktop-width) {
        grid-column-start: 1;

        a {
          display: block;
          margin-top: 35px;
        }
      }
    }

    &--address {
      @media (min-width: $tablet-width) {
        grid-row-start: 2;
        grid-column-start: 2;
      }

      @media (min-width: $desktop-width) {
        grid-column-start: 2;
        grid-row-start: 1;

        address {
          margin-top: 35px;
        }
      }
    }

    &--email {
      margin-bottom: 30px;

      @media (min-width: $tablet-width) {
        grid-column-start: 3;
        justify-self: flex-start;
      }

      @media (min-width: $desktop-width) {
        grid-column-start: 3;

        a {
          margin-top: 35px;
          display: block;
        }
      }
    }

    &--phone,
    &--address {
      margin-bottom: 35px;
    }

    @media (min-width: $tablet-width) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  &__title {
    font-weight: 300;
    font-size: 24px;
    line-height: 120%;

    @media (min-width: $desktop-width) {
      font-size: 50px;
      line-height: 68px;
    }
  }

  &__phone a,
  &__address,
  &__email a {
    &:hover {
      color: $dark-blue;
    }

    &:active {
      color: $dark-blue;
      opacity: 0.3;
    }
  }

  &__maps {
    clip-path: polygon(100% 0, 100% 99%, 0 100%, 0 0, 50% 17%);

    iframe {
      width: 660px;
      height: 374px;
    }
  }
}

