.downloads {
  font-family: "Opem sans", "Arial", sans-serif;
  padding: 28px 0 38px 0;
  min-width: 280px;
  background-color: $extra-black;
  color: $white;
  display: flex;
  flex-direction: column;
  margin-top: -399px;


  a {
    text-decoration: none;
    color: $white;
    box-sizing: border-box;
    border-radius: 29px;
  }

  img {
    padding: 28px 0;
  }

  @media (min-width: $tablet-width) {
    position: relative;
    background-image: url("../img/tablet-phone.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0;
    width: 660px;
    height: 545px;
    background-color: transparent;
    margin-top: -612px;

    display: grid;
    grid-template-rows: min-content min-content min-content min-content;
    grid-template-columns: 300px;
    justify-items: center;
  }

  @media (min-width: $desktop-width) {
    min-width: 940px;
    position: relative;
    background-image: url("../img/desktop-phone.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0;
    width: 660px;
    height: 545px;
    background-color: transparent;
    margin-top: -612px;
  }

  &__slogan {
    width: 280px;
    padding: 0;
    margin: 0;
    font-weight: 300;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    padding-left: 20px;
    z-index: 2;

    br {
      display: none;
    }

    @media (min-width: $tablet-width) {
      br {
        display: block;
      }

      font-weight: 300;
      font-size: 40px;
      line-height: 120%;
    }

    @media (min-width: $desktop-width) {
      font-weight: 300;
      font-size: 50px;
      line-height: 68px;
    }
  }

  &__app-image {
    width: 320px;
    height: 286px;
    z-index: 2;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &__button {
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    border: 3px solid $white;
    padding: 15px 44px;
    align-self: flex-start;
    margin-left: 20px;
    margin-top: 57px;
    margin-bottom: 37px;

    &:hover {
      background-color: $white;
      color: $pink;
    }

    &:active {
      background-color: $white;
      color: rgba(209, 41, 87, 0.3);
    }

    @media (min-width: $tablet-width) {
      padding: 16px 43px;
    }
  }

  &__apps {
    text-align: center;

    @media (min-width: $tablet-width) {
      text-align: start;
    }

    a {
      margin-right: 35px;
    }

    a:last-child {
      margin-right: 0;
    }
  }

  &__determine {
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    margin-top: 30px;
  }
}

