.features {
  display: none;
  box-sizing: border-box;
}

@media (min-width: $tablet-width) {
  .features {
    width: 620px;
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .features {
    position: relative;
    width: 100%;
    display: block;
    text-align: center;
    background-color: $grey;
    padding: 30px 60px;
    padding-bottom: 90px;

    &::before {
      content: "";
      position: absolute;
      width: 298px;
      height: 345px;
      background-image: url("../img/timer.svg");
      background-repeat: no-repeat;
      left: 0;
    }
  }
}
