.features {
  display: none;
}

@media (min-width: $tablet-width) {
  .features {
    width: 620px;
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .features {
    width: 903px;
    display: block;
  }
}
