
.page-footer {
  &__wrapper {
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
  }

  &__logo {
    margin-top: 40px;
    display: flex;
    justify-content: center;

    svg:hover {
      fill: $pink;
    }

    svg:active {
      fill: $dark-blue;
      opacity: 0.3;
    }
  }

  &__copyright {
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 35px;

    &-text {
      margin: 0;
      padding: 0;
      padding-right: 15px;
    }

    &-link {
      svg:hover {
        fill: $dark-blue;
      }

      svg:active {
        fill: rgba(40, 54, 69, 0.3);
      }
    }
  }
}
