.page-header {
  position: relative;
  color: $white;
  background-image: url("../img/back-mobile.jpg");
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
  height: 462px;
  min-width: 320px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    height: 729px;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    min-width: 940px;
    width: 100%;
    height: 853px;
  }

  &__logo img {
    @media (min-width: $tablet-width) {
      width: 145px;
      height: 40px;
    }

    @media (min-width: $desktop-width) {
      width: 147px;
      height: 40px;
    }
  }
}

.catalog-page__header {
  height: 230px;

  @media (min-width: $tablet-width) {
    height: 440px;
  }

  @media (min-width: $desktop-width) {
    height: 395px;
  }
}
