.page-header {
  position: relative;
  color: #ffffff;
  background-image: url("../img/back-mobile.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 462px;
}

.page-header__logo {
  margin-left: 20px;
}
