.page-header {
  position: relative;
  background-color: rgba(0, 0, 0, 0.3);
  color: #ffffff;
  padding: 21px 0;
  background-image: url("../img/back-mobile.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 462px;
}

.page-header__logo {
  margin-left: 20px;
}

